<div class="mainBox">
    <div class="headline">
        <h1 class="fontSyne">Portfolio</h1>
        <span class="fontOverpass">Explore a selection of my work - please feel free to try them out.</span>
    </div>
  @for(img of imgs; let i = $index; track i;){
    @if(i % 2 !== 0){
      <div class="project" data-aos="fade-left" [ngClass]="{'rowReverse': i % 2 !== 0}">
        <img class="imgs" src="assets/img/{{ img }}" alt="" />
        <div class="positionText fontOverpass">
          <div class="positionNumverLeft">{{ nrOfProject[i] }}/3</div>
          <span>{{ description[i] }}</span>
          <div class="positionBtn">
            <a href="#" class="fontOverpass">Live Test</a>
            <a href="#" class="fontOverpass">GitHUB</a>
          </div>
        </div>
      </div>
    } @else {
      <div class="project" data-aos="fade-right" [ngClass]="{'rowReverse': i % 2 !== 0}">
        <img class="imgs" src="assets/img/{{ img }}" alt="" />
        <div class="positionText fontOverpass">
          <div class="positionNumverRechts">{{ nrOfProject[i] }}/3</div>
          <span>{{ description[i] }}</span>
          <div class="positionBtn">
            <a href="#" class="fontOverpass">Live Test</a>
            <a href="#" class="fontOverpass">GitHUB</a>
          </div>
        </div>
      </div>
    }
  }
</div>
