@import './../../../styles.scss';


.headline{
    text-align: center;
    width: 100vw;
    h1{
        margin-top: 200px;
        font-size: 60px;
        font-weight: 800;
        transition: 0.3s ease-in-out;
        &:hover{
            color: $blue;
            cursor: default;
        }
    }
}

.mainBox{
    @include dFlex();
    font-size: x-large;
    margin-bottom: 200px;
    width: 100vw;
    .maxWidth{
        @include dFlex();
        flex-direction: column;
        .imgs{
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            max-width: 440px;
            max-height: 300px;
            object-fit: contain;
            border-radius: 10px;
        }
        .fileterOptionBox{
            margin-top: 16px;
            cursor: pointer;
            font-family: "Syne";
            @include dFlex($g: 26px);
            span{
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 0;
                    height: 3px;
                    background: linear-gradient(90deg, #bdbdbd, #63c1ff);
                    transition: width 0.5s ease-in-out;
                }
                &:hover::after {
                    width: 100%;
                }
            
                &:not(:hover)::after {
                  right: 0;
                  left: auto;
                }
           }
        }
    }
}

.project{
    @include dFlex($jc: space-between, $ai: flex-start);
    width: 72vw;
    margin-top: 120px;
    .positionText{
        margin: 40px;
        margin-bottom: 0;
        width: 40vw;
        @include dFlex();
        flex-direction: column;
        .positionNumverRechts{
            display: flex;
            position: absolute;
            right: 0;
            top: 0;
            .nrColor{
                color: $blue;
            }
        }
        .positionNumverLeft{
            display: flex;
            position: absolute;
            left: 0;
            top: 0;
            .nrColor{
                color: $blue;
            }
        }
    }
    .positionBtn{
        margin: 40px;
    }
    h1{
        margin: 0;
        margin-top: -22px;
    }
    h3{
        color: $blue;
        margin-bottom: 12px;
    }
}

a{
    padding: 24px;
    padding-top: 16px;
    padding-bottom: 12px;
    text-decoration: none;
    border-radius: 30px;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    color: black;
    margin: 20px;
    transition: 0.3s ease-in-out;
    &:hover{
        background-color:  $blue;
        color: white;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    }
}

.rowReverse{
    flex-direction: row-reverse !important;
}


@media (max-width: 1400px) {
    .dRow{
        display: flex;
        align-items: flex-start;
    }

    .headline{
        h1{
            font-size: 46px;
        }
        span{
            font-size: 20px;
        }
    }

    .mainBox{
        .imgs{
            max-width: 360px;
            max-height: 280px;
            object-fit: contain;
        }
    }

    .project{
        display: flex;
        flex-direction: column !important;
        align-items: center;
        text-align: center;
        .positionText{
            width: 80vw;
        }
        .positionBtn{
            margin: 40px;
        }
        h1{
            font-size: 36px;
        }
        h3{
            font-size: 22px;
        }
        span{
            font-size: 18px;
        }
    }

    a{
        font-size: 18px;
        padding: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        text-decoration: none;
        margin: 8px;
    }
}

@media (max-width: 660px) {

    .headline{
        h1{
            font-size: 32px;
            margin-top: 58px;
        }
        span{
            font-size: 16px;
            text-align: center;
            margin-left: 8px;
            margin-right: 8px;
        }
    }

    .mainBox{
        .maxWidth{
            .imgs{
                max-width: 280px;
            }
            .fileterOptionBox{
                @include dFlex($g: 12px);
                span{
                    font-size: large;
                }

            }
        }
    }

    .project{
        .positionText{
            width: 80vw;
            .positionNumverRechts{
                top: -32px;
            }
            .positionNumverLeft{
                top: -32px;
            }
        }
        .positionBtn{
            margin: 0;
            margin-top: 12px;
        }
        h1{
            font-size: 36px;
        }
        h3{
            font-size: 22px;
        }
        span{
            font-size: 18px;
        }
    }

    a{
        font-size: 18px;
        padding: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        text-decoration: none;
        margin: 8px;
    }
}

@media (min-width: 2161px) {
    .mainBox{
        .maxWidth{
            max-width: 1920px;
            .imgs{
                max-width: 560px;
                max-height: 340px;
                object-fit: contain;
            }
        }
    }
    .project{
        max-width: 1920px;
        .positionText{
            .positionNumverRechts{
                top: -32px;
            }
            .positionNumverLeft{
                top: -32px;
            }
        }
        .positionBtn{
            margin: 0;
            margin-top: 34px;
        }
        h1{
            font-size: 48px;
            margin-bottom: 16px;
        }
        h3{
            font-size: 32px;
        }
        span{
            font-size: 26px;
        }
    }

}