<div class="mainBox">
    <img class="imgProfileMsmall" src="assets/img/man.png" alt="">
    <div class="aboutMeBox">
        <span class="headline fontSyne">About me</span>
        <span class="fontOverpass">Kleine Texte sind meist multimodale Erscheinungsformen, die in vielerlei Hinsicht unsere Alltagserwartungen an das, was Texte sind und sein können, in Frage stellen. In unserem kommunikativen Alltag sind wir umzingelt von zahllosen Kommunikaten, denen wir uns kaum entziehen können. Trotz dieser Allgegenwart sind linguistische Untersuchungen zum Thema «Kleine Texte» immer noch rar gesät. Diese Kluft zwischen alltäglicher Relevanz und textlinguistischem (Des-)Interesse soll der vorliegende Band verringern. Die im Band versammelten Beiträge zeigen zum einen verschiedene Zugriffsmöglichkeiten auf den Gegenstand Kleine Texte und seine begriffliche Eingrenzung. Das Spektrum der Beiträge reicht dabei zum anderen von theoretisch-begrifflichen üb
            er empirische bis hin zu dezidiert angewandten Arbeiten.</span>
    </div>
</div>
<div class="arrowDiv">
    <img src="assets/img/arrowDownLeft.png" alt="">
</div>
