<div class="mainBox" id="aboutMe">
    <img class="imgProfileMsmall" src="assets/img/PortraitSitzend.jpg" alt="">
    <div class="aboutMeBox">
        <h1 class="fontSyne">About me</h1>
        <span class="aboutMeText fontOverpass">Hi, I'm Aleksader Demyanovych, a front-end developer from near Trier, Germany. I have always been interested in IT technology in the field of web and so I decided to specialize in Angular and Javascript. I have gained a lot of experience in the last year by creating many projects and I am sure I can help you with my experience in your company.</span>
    </div>
</div>

