@import './../../../styles.scss';

.mainBox {
    @include dFlex($jc: space-evenly);
    height: 100vh;

    .imgProfileMsmall {
        max-width: 400px;
        max-height: 400px;
        object-fit: contain;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.144);
    }
}

.aboutMeBox {
    @include dFlex($ai: flex-start);
    flex-direction: column;
    max-width: 40vw;
    height: auto;

    .headline {
        font-size: 60px;
        font-weight: 800;
        margin-bottom: 12px;
        transition: 0.3s ease-in-out;
        &:hover{
            color: $blue;
            cursor: default;
        }
    }
}
