@import './../../../styles.scss';

.mainBox {
    @include dFlex($jc: space-evenly);
    height: 100vh;
    width: 100vw;
    .imgProfileMsmall {
        max-width: 320px;
        object-fit: contain;
        border-radius: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
}

.aboutMeBox {
    @include dFlex($ai: flex-start);
    flex-direction: column;
    max-width: 40vw;
    height: auto;

    h1{
        font-size: 60px;
        font-weight: 800;
        margin-bottom: 32px;
        transition: 0.3s ease-in-out;
        &:hover{
            color: $blue;
            cursor: default;
        }
    }
    .aboutMeText{
        font-size: x-large;
    }
}

@media (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }
    .aboutMeBox {
        h1{
            font-size: 46px;
        }
    }

    .mainBox {
        .imgProfileMsmall {
            max-width: 280px;
        }
    }
}

@media (max-width: 660px) {
    .mainBox {
        flex-direction: column;
        justify-content: center;
    }


    .aboutMeBox {
        margin-top: 40px;
        max-width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h1{
            font-size: 32px;
            margin-bottom: 12px;
        }
        .aboutMeText{
            font-size: large;
        }
    }

    .mainBox {
        .imgProfileMsmall {
            max-width: 200px;
        }
    }
}