@import './../../../styles.scss';

.mainBox {
    @include dFlex($jc: space-evenly);
    height: 48vh;

    .imgProfileMsmall {
        max-width: 400px;
        max-height: 400px;
        object-fit: contain;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.144);
    }
}

.aboutMeBox {
    @include dFlex();
    flex-direction: column;
    max-width: 40vw;
    height: auto;

    .headline {
        font-size: 60px;
        font-weight: 800;
        margin-bottom: 12px;
    }
}

.arrowDiv {
    @include dFlex($jc: flex-end);
    margin-right: 10vw;
    height: 200px;
}