<div class="mainBox">
    <h1 class="fontSyne">Say Hi!</h1>
    <form class="contactInputPosition" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <h2 class="fontOverpass">Want to discuss a new project?</h2>
        <h3 class="fontOverpass">Then let's discuss your ideas and make it happen.</h3>

        <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name" placeholder="Your name.." required>
            @if (!name.valid && name.touched && !name.disabled) {
                <span style="color: red;">Please enter your name.</span>
            }

        <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder="Your email.." required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
            @if (!email.valid && email.touched && !email.disabled) {
                <span style="color: red;">Please enter your E-Mail.</span>
            }

        <textarea #message="ngModel"  [(ngModel)]="contactData.message" id="message" name="message" placeholder="Write something.." style="height:200px" required></textarea>
            @if (!message.valid && message.touched && !message.disabled) {
                <span style="color: red;">Please enter your message.</span>
            }
        
        <div class="privacyPosition">
            <p><img src="assets/img/check_box_outline_blank.svg" alt="">I've read the <a href="#">privacy policy</a> and agree tho the prosessing of my data as outlinked</p>
        </div>
        <input type="submit" value="Submit" class="submitBtn">
    
    </form>
    <div class="positionImg">
        <img src="assets/img/arrowUp.svg" alt="">
    </div>
</div>
