<div class="mainBox" id="contact">
    <h1 class="fontSyne">Say Hi!</h1>
    <form class="contactInputPosition" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <div class="contactHeader">
            <h2 class="fontOverpass">Want to discuss a new project?</h2>
            <h3 class="fontOverpass">Then let's discuss your ideas and make it happen.</h3>
        </div>

        <input #name="ngModel" [(ngModel)]="contactData.name" type="text" id="name" name="name" placeholder="Your name.." required  [ngClass]="{'clickedInput': name.valid && name.touched}">
            @if (!name.valid && name.touched && !name.disabled) {
                <div class="warningDiv">
                    <span class="warningText">Please enter your name.</span>
                    <img class="warningIcon" src="assets/img/warning.svg" alt="">
                </div>
            }

        <input #email="ngModel" [(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder="Your email.." required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,}" [ngClass]="{'clickedInput': email.valid && email.touched}">
            @if (!email.valid && email.touched && !email.disabled) {
                <div class="warningDiv">
                    <span class="warningText">Please enter your E-Mail.</span>
                    <img class="warningIcon" src="assets/img/warning.svg" alt="">
                </div>
            }


        <textarea #message="ngModel"  [(ngModel)]="contactData.message" id="message" name="message" placeholder="Write something.." style="height:200px" required [ngClass]="{'clickedInput': message.valid && message.touched}"></textarea>
            @if (!message.valid && message.touched && !message.disabled) {
                <div class="warningDiv">
                    <span class="warningText">Please enter your message.</span>
                    <img class="warningIcon" src="assets/img/warning.svg" alt="">
                </div>
            } 

        
        <div class="privacyPosition">
            <p><img (click)="checkIfAgree()" id="checkIcon" src="assets/img/{{ isChecked? 'check_box.svg' : 'check_box_outline_blank.svg' }}">
                I've read the <a href="legalNotice">privacy policy</a> and agree tho the prosessing of my data as outlinked</p>
        </div>

        <input type="submit" value="Submit" class="aktivButton"  [ngClass]="{'submitBtn': isChecked && name.valid && message.valid&& email.valid }" [disabled]="!isChecked">


    </form>
    <div class="positionImg">
        <a href="#landingpage"><img src="assets/img/arrowUp.svg" alt=""></a>
    </div>
</div>
