@import './../../../styles.scss';

.mainBox {
    background-image: url('./../../../assets/img/contactBackground.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: auto;

    h1 {
        font-size: 100px;
        font-weight: 900;
        color: white;
        padding: 8vw;
        transition: 0.3s ease-in-out;
        &:hover{
            color: $blue;
            cursor: default;
        }
    }

    h2 {
        color: $blue;
        font-size: x-large;
        margin-bottom: 20px;
        font-size: 26px;
    }

    h3 {
        font-size: large;
        margin-bottom: 20px;
        color: white;
        font-size: 18px;
    }
    .positionImg{
        width: 100vw;
        @include dFlex($jc: flex-end);
        img{
            margin: 5vw;
            height: 120px;
            cursor: pointer;
            transition: transform 0.2s ease-in-out;
            transform-origin: bottom;
            &:hover{
                transform: scale(1.2);
                filter: brightness(0) saturate(100%) invert(72%) sepia(62%) saturate(6655%) hue-rotate(206deg) brightness(102%) contrast(101%);
            }
        }
    }
}

@mixin inputStyle {
    background-color: black;
    width: 40vw;
    height: 40px;
    border: none;
    border-bottom: 3px solid white;
    padding: 20px;
    margin: 20px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    font-size: 24px;
    color: white;
    font-family: 'Overpass';
    outline: none;
    border-radius: 40px;
    &:hover {
        outline: 3px solid white;
        outline-offset: -3px;
    }
}



form {
    @include dFlex();
    flex-direction: column;

    #name[type=text] {
        @include inputStyle();
    }
    #email[type=email] {
        @include inputStyle();
    }
    #message {
        @include inputStyle();
    }
}

.clickedInput{
    transition: all 0.1s ease-in-out;
    border: 2px solid white !important;
}

::-webkit-input-placeholder {
    color: white;
    font-family: 'Overpass';
}

.clickInInput{
    border: 2px solid white;
    width: 40vw;
    height: 40px;
    background-color: black;
    padding: 8px;
    margin: 20px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-size: 18px;
    color: white;
    font-family: 'Overpass';
}


.aktivButton[type=submit]{
    cursor: pointer;
    padding: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px rgba(0, 0, 0, 0.2) solid;
    color: black;
    margin: 20px;
    font-size: 24px;
    font-family: 'Overpass';
    transition: 0.3s ease-in-out;

}

.submitBtn[type=submit]{
    cursor: pointer;
    padding: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
    border-radius: 30px;
    background-color: white;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    color: black;
    margin: 20px;
    font-size: 24px;
    font-family: 'Overpass';
    transition: 0.3s ease-in-out;
    &:hover{
        background-color:  $blue;
        color: white;
        box-shadow: white 0px 0px 30px 0px;
    }

}



.privacyPosition{
    @include dFlex();
    width: 40vw;
    text-align: center;
    p{
        color: white;
        font-size: large;
        font-family: 'Overpass';
        a{
            color: $blue;
            font-size: large;
            font-family: 'Overpass';
            text-decoration: none;
            transition: 0.3s ease-in-out;
            &:hover{
                filter: drop-shadow(0 0 0.75rem white);
            }
        }
        img{
            cursor: pointer;
            margin-right: 12px;
            margin-bottom: -3px;
            &:hover {
                & ~ a {
                    filter: drop-shadow(0 0 0.75rem white);
                }
            }
        }
    }
}

.warningDiv{
    width: 40vw;
    @include dFlex($jc: space-between);
    .warningText{
        color: red;
        font-family: 'Overpass';
        text-align: left;
    }
    .warningIcon{
        position: relative;
        top: -76px;
        right: -56px;
    }
}

.rightIcon{
    position: relative;
        top: -76px;
        right: -56px;
}


