@import "../../../../../node_modules/bootstrap/dist/css/bootstrap.css";

img{
    cursor: pointer;
    width: 48px;
    height: 48px;
    object-fit: contain;
    z-index: 40;
    transition: 0.3s ease-in-out;
}

.boxWithLinks{
    display: none;
}

.closeNavB {
    width: 40px;
    height: 40px;
    background-color: coral;
    animation: closeNavBar 0.5s ease-in-out;
}
  
@keyframes closeNavBar {
    from {
      transform: translateY(0);
    }
  
    to {
      transform: translateY(-110%);
    }
}


@media (max-width: 1000px) {
    .boxWithLinks{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 80px;
        position: fixed;
        bottom: 0;
        top: 60px;
        height: calc(100vh - 60px);
        width: 100vw;
        z-index: 10;
        background-color: rgba($color: #ffffff, $alpha: 0.1);
        backdrop-filter: blur(50px);
        // transform: translateY(100%);
        // transition: showNav 0.5s ease-in-out forwards;
        a{
            font-size: 56px;
            font-weight: 800;
            font-family: 'Overpass';
            text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
        }
    }  
}

// .showNavBar{
//     transition: showNav 0.5s ease-in-out forwards;
// }

// @keyframes showNav {
//     0% {
//         transform: translateY(-100%);
//     }
//     100% {
//         transform: translateY(0);
//     }
// }

@media (max-width: 660px) {
    .boxWithLinks{
        a{
            font-size: 42px;
        }
    } 
}


.test{
    transform: translate(100%);
  }
  
  .showNavBar{
    animation: showNav 0.5s ease-in-out forwards;
  }
  
  @keyframes showNav {
  
    100% {
        transform: translateY(0);
    }
  }
  
  .closeNavB {
    animation: closeNavBar 0.5s ease-in-out forwards;
  }
  
  @keyframes closeNavBar {
    0% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(-100%);
    }
  }