
<div class="boxWithLinks">
    <a class="nav-link active" aria-current="page" href="#aboutMe">About Me</a>
    <a class="nav-link" href="#mySkills">My Skills</a>
    <a class="nav-link" href="#myProjects">Portfolio</a>
    <a class="nav-link" href="#contactnpm install bootstrap --save">Contact</a>
</div>


  <!-- <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><img (click)="showSideMenu()" src="./assets/img/{{ isChecked? 'iconsMenu.png' : 'iconsX.png' }}" alt="iconsMenu" 
            style="transition: 0.3s ease-in-out;"></span>
      </button>
    </div>
  </nav>
  <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
    <div class="bg-dark p-4">
        <div class="offcanvas-body" class="boxWithLinks">
            <a class="nav-link active" aria-current="page" href="#aboutMe">About Me</a>
            <a class="nav-link" href="#mySkills">My Skills</a>
            <a class="nav-link" href="#myProjects">Portfolio</a>
            <a class="nav-link" href="#contactnpm install bootstrap --save">Contact</a>
        </div>
      <h5 class="text-body-emphasis h4">Collapsed content</h5>
      <span class="text-body-secondary">Toggleable via the navbar brand.</span>
    </div>
  </div> -->


<!-- <div class="offcanvas-body" class="boxWithLinks">
    <a class="nav-link active" aria-current="page" href="#aboutMe">About Me</a>
    <a class="nav-link" href="#mySkills">My Skills</a>
    <a class="nav-link" href="#myProjects">Portfolio</a>
    <a class="nav-link" href="#contactnpm install bootstrap --save">Contact</a>
  </div> -->

  <!-- <nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" class="boxWithLinks">
          <div class="offcanvas-body" >
            <a class="nav-link active" aria-current="page" href="#aboutMe">About Me</a>
            <a class="nav-link" href="#mySkills">My Skills</a>
            <a class="nav-link" href="#myProjects">Portfolio</a>
            <a class="nav-link" href="#contact">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </nav> -->