@import './../../../styles.scss';
 
.divHeight{
    height: 100vh;
    width: 100vw;
    @include dFlex();
}

.mainBox{

    margin: 8vw;
    border: 3px black solid;
    border-radius: 28px;
    width: 82vw;
    height: auto;
    @include dFlex();
    flex-direction: column;
    p{
        font-size: 60px;
        font-weight: 800;
        margin-top: -40px;
        margin-bottom: 22px;
        padding-left: 32px;
        padding-right: 32px;
        background-color: white;
        transition: 0.3s ease-in-out;
        &:hover{
            color: $blue;
            cursor: default;
        }
    }
}

.positionIcons{
    max-width: 94vw;
    @include dFlex($jc: space-around, $g: 72px);
    flex-wrap: wrap;
    gap: 80px;
    .dFlex{
        @include dFlex();
        flex-direction: column;
        .iconImgs{
            width: 80px;
            height: 90px;
            object-fit: contain;
            margin-bottom: 12px;
            filter: brightness(0) saturate(100%);
            transition: 0.3s ease-in-out;
            &:hover{
                filter: none;
                transition: 0.2s ease-in-out;
            }
        }
        h3{
            margin-bottom: 12px;
        }
    }
}

