@import './../../../styles.scss';
 
.divHeight{
    padding-top: 200px;
    padding-bottom: 200px;
    height: auto;
    @include dFlex();
    .qhdWidth{
        @include dFlex();
        .div{
            @include dFlex();
        }
    }
}

.mainBox{
    width: 64vw;
    height: auto;
    @include dFlex();
    flex-direction: column;
    p{
        font-size: 60px;
        font-weight: 800;
        margin-bottom: 80px;
        background-color: white;
        transition: 0.3s ease-in-out;
        &:hover{
            color: $blue;
            cursor: default;
        }
    }
}

.positionIcons{
    max-width: 900px;
    @include dFlex($jc: space-around, $g: 32px);
    flex-wrap: wrap;
    .skillBox{
        @include dFlex($g: 22px);
        background-color: #F9FAFB;
        padding: 8px;
        border-radius: 12px;
        .iconImgs{
            width: 72px;
            height: 72px;
            object-fit: contain;
        }
        h3{
            font-weight: 500;
        }
    }
}

@media (max-width: 1000px) {
    .divHeight{
        padding-top: 120px;
    }

    .mainBox{
        p {
            font-size: 46px;
            margin-top: -32px;
            padding-left: 8px;
            padding-right: 8px;
        }
    }

    .positionIcons{
        @include dFlex($g: 26px);
        .skillBox{
            .iconImgs{
                width: 46px;
                height: 46px;
            }
            h3{
                font-weight: 400;
            }
        }
    }
}
@media (max-width: 660px) {
    .mainBox{
        p {
            font-size: 27px;
            margin-top: -22px;
            padding-left: 14px;
            padding-right: 14px;
        }
    }

    .positionIcons{
        @include dFlex($g: 26px);
        .skillBox{
            .iconImgs{
                width: 46px;
                height: 46px;
            }
            h3{
                display: none;
            }
        }
    }
}


@media (min-width: 2161px) {
    .divHeight{
        @include dFlex();
        min-width: 1920px;
        .qhdWidth{
            min-width: 1920px;
            @include dFlex();
        }
    }
    .mainBox{
        width: 1920px;
    }
    .positionIcons{
        @include dFlex($jc: space-around, $g: 80px);
        flex-wrap: wrap;
        .skillBox{
            @include dFlex($g: 22px);
            .iconImgs{
                width: 88px;
                height: 88px;
            }
            h3{
                font-size: x-large;
            }
        }
    }
}

