
<div class="mainBox" id="header">
    <div class="qhdWidth">
        <img src="./assets/img/ADblack.svg" alt="AD Icon" class="adIcon">
        <div>
            <a href="#aboutMe">{{ 'header.aAboutMe' | translate }}</a>
            <a href="#mySkills">{{ 'header.aSkills' | translate }} Skills</a>
            <a href="#myProjects">{{ 'header.aProjects' | translate }}</a>
            <a href="#contact">{{ 'header.aContact' | translate }}</a>
            <img class="flag" src="./assets/img/{{ changeFlag? 'englandFlag.png' : 'germanyFlag.png' }}" alt="Flag" (click)="changeLanguages()">
            <img (click)="showSideMenu()" src="./assets/img/{{ showFiller? 'iconsX.png' : 'iconsMenu.png'}}" alt="iconsMenu" class="navBarIcon">
        </div>
    </div>
</div>

<div class="boxWithLinks" [ngClass]="{'closeNavB': !showFiller, 'showNavBar' : showFiller}">
    <a class="navLink active" aria-current="page" href="#aboutMe" (click)="showSideMenu()">{{ 'header.navAboutMe' | translate }}</a>
    <a class="navLink" href="#mySkills" (click)="showSideMenu()">{{ 'header.navSkills' | translate }} Skills</a>
    <a class="navLink" href="#myProjects" (click)="showSideMenu()">{{ 'header.navProjects' | translate }}</a>
    <a class="navLink" href="#contact"(click)="showSideMenu()">{{ 'header.navContact' | translate }}</a>
</div>

