<div class="mainBox" id="header">
    <img src="./assets/img/ADblack.svg" alt="AD Icon">
    <div>
        <a href="#aboutMe">About me</a>
        <a href="#mySkills">My skills</a>
        <a href="#myProjects">My Projects</a>
        <a href="#contact">Contact</a>
        <img (click)="showSideMenu()" src="./assets/img/{{ showFiller? 'iconsMenu.png' : 'iconsX.png' }}" alt="iconsMenu" 
            style="transition: 0.3s ease-in-out;" class="navBarIcon">
       
    </div>
</div>
@if (!showFiller) {
    <app-nav-bar class="navBar"></app-nav-bar>
}
