@import './../../../styles.scss';


.mainBox {
  @include dFlex();
  height: 100px;
  width: 100vw;
  position: fixed;
  background-color: rgba($color: #ffffff, $alpha: 0.1);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  .qhdWidth{
    width: 100vw;
    @include dFlex($jc: space-between);
    .adIcon{
      cursor: context-menu;
    }
    div {
      min-width: 50vw;
      @include dFlex($jc: space-evenly);
      height: 80px;
      a {
        padding: 10px;
        text-decoration: none;
        color: black;
        font-size: x-large;
        font-family: 'Syne';
        text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
        &:hover {
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
          border-radius: 30px;
        }
      }
      .navBarIcon{
        display: none;
      }
      .flag{
        margin-right: 40px;
        width: 40px;
        height: 26px;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
        &:hover{
          box-shadow: rgba(109, 191, 238, 0.63) 0px 0px 20px 4px;
        }
      }
    }

    p {
      font-size: x-large;
      font-weight: 900;
      font-style: italic;
      margin-left: 4vw;
    }
  }
}



.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.navBar{
  display: none;
}

img{
  cursor: pointer;
  width: 56px;
  height: 56px;
  object-fit: contain;
  z-index: 40;
  margin-left: 40px;
  transition: 0.3s ease-in-out;
}

.boxWithLinks{
  display: none;
}


@media (max-width: 1000px) {
  a{
    display: none;
  }
  .navBarIcon{
    display: block !important;
    position: absolute;
    right: 16px;
    cursor: pointer;

  }

  .navBar {
    display: block;
  } 

  .mainBox{
    height: 60px;
    .qhdWidth{
      .adIcon{
        cursor: context-menu;
      }
      div {
        .flag{
          position: absolute;
          right: 80px;
          width: 48px;
          height: 32px;
          margin-right: 40px;
        }
      }
    }
  }

  .boxWithLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 80px;
    position: fixed;
    bottom: 0;
    top: 60px;
    height: calc(100dvh - 60px);
    width: 100vw;
    z-index: 10;
    background-color: rgba($color: #ffffff, $alpha: 0.1);
    backdrop-filter: blur(50px);
    transform: translateY(-105%);
    .navLink{
      display: block;
        font-size: 56px;
        font-weight: 800;
        font-family: 'Overpass';
        color: black;
        text-decoration: none;
        text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
    }
  }  
}


@media (max-width: 660px) {
  .boxWithLinks{
    a{
        font-size: 42px;
    }
  } 
  .mainBox{
    .qhdWidth{
      div {
        .flag{
          right: 64px;
          width: 32px;
          height: 24px;
          margin: 0;
        }
      }
    }
  }
  img{
    width: 32px;
    height: 32px;
  }
}

.showNavBar{
  animation: showNav 0.5s ease-in-out forwards;
}

@keyframes showNav {

  100% {
      transform: translateY(0);
  }
}

.closeNavB {
  animation: closeNavBar 0.5s ease-in-out forwards;
}

@keyframes closeNavBar {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-110%);
  }
}


@media (min-width: 2161px) {
  .mainBox {
    .qhdWidth{
      max-width: 1920px;
      @include dFlex($jc: space-between);
      .adIcon{
        cursor: context-menu;
      }
      div {
        min-width: 50vw;
        @include dFlex($jc: flex-end);
        height: 80px;
        a {
          margin-left: 2vw;
          font-size: xx-large;
        }
        .flag{
          margin-left: 2vw;
          margin-right: 0;
          width: 64px;
          height: 40px;
        }
      }
    }
  }
  img{
    margin: 0;
  }
}