<div class="mainBox" id="header">
    <img src="./assets/img/ADblack.svg" alt="AD Icon">
    <div>
        <a href="#aboutMe">About me</a>
        <a href="#mySkills">My skills</a>
        <a href="#myProjects">My Projects</a>
        <a href="#contact">Contact</a>
        <img (click)="showSideMenu()" src="./assets/img/{{ showFiller? 'iconsX.png' : 'iconsMenu.png'}}" alt="iconsMenu" 
            class="navBarIcon">
    </div>
</div>
@if (showFiller) {
    <!-- <app-nav-bar (closeNavigationBar)="showSideMenu()" [ngClass]="{'closeNavB': showFiller}"></app-nav-bar> -->
    <app-nav-bar (closeNavigationBar)="showSideMenu()" id="menuIcon"></app-nav-bar>
}
  
