@import './../../../styles.scss';

.mainBox{
    @include dFlex($jc: space-between);
    background-color: black;
    border: none;
    color: white;
    width: 100vw;
    height: 200px;
    span{
        font-size: larger;
        font-family: 'Overpass'; 
    }
    .iconsPosition{
        @include dFlex();
        flex-direction: column;
        margin: 5vw;
        .imgPosition{
            width: 220px;
            @include dFlex($jc: space-evenly, $ai: center);
        }
        a{
            margin-top: 40px;
            font-size: larger;
            font-family: 'Overpass';
            text-decoration: none;
            color: $blue;
        }
        .legalNotice{
            &:hover{
                filter: drop-shadow(0 0 0.75rem white);
            }
        }
    }
}

img {
    cursor: pointer;
    transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
  
    &:hover {
      transform: scale(1.5);
      filter: drop-shadow(0 0 3px #4fbeff);
    }
}
  
.iconAndName{
    @include dFlex($ai: flex-start);
    flex-direction: column;
    margin-left: 5vw;
    .ADicon{
        width: 56px;
        height: 56px;
        object-fit: cover;
        margin-bottom: 20px;
        transform-origin: bottom left;
        background-image: url("../../../assets/img/ADwhite.svg");
        background-size: cover;
        background-repeat: no-repeat;
        transition: transform 0.2s ease-in-out;
        &:hover{
            transform: scale(1.2);
            filter: none;
        }
    }
}

@media (max-width: 1000px) {
    body {
        overflow-x: hidden;
    }
}
@media (max-width: 660px) {
    .mainBox{
        .iconsPosition{
            .imgPosition{
                width: 120px;
            }
        }
    }
}

